﻿@model Web_Application_for_Structure_Engineering.Models.RC_Beam
@{
    ViewBag.Title = "RCBeam";
   
}

<h4>RC_Beam</h4>
<hr />
<table border="1" width="70%" align="center">
    <tr>
        <th>Mem</th>
        <th>Mark</th>
        <th>B</th>
        <th>T</th>
        <th>L</th>
        <th>LT</th>
        <th>Name</th>
    </tr>

    @foreach (var details in ViewBag.list1)
    {
        <tr>
            <td>@details.Mem</td>
            <td>@details.Mark</td>
            <td>@details.B</td>
            <td>@details.T</td>
            <td>@details.L</td>
            <td>@details.LT</td>
            <td>@details.Name</td>
        </tr>
    }
</table>

