﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.mousepoint {
    cursor: pointer;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.leftmenutrigger {
    display: none
}

div.stbody {
    padding: 10px 50px 50px 50px;
}

div.row {
    width: 100%;
    height: 90%;
}

div.sub {
    height: 65vh;
    width: 100%;
    overflow: hidden;
}

.ssub {
    height: 100%;
}


.sharp {
    border-radius: 0;
}

.hide {
    display: none;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Tinborder {
    height: max-content;
    width: 100%;
    border: 2px solid black;
}

.Hborder {
    width: max-content;
    margin-top: -10px;
    margin-left: 27px;
    padding-left: 7px;
    padding-right: 7px;
    background: white;
}

.me {
    border-collapse: separate;
    border-spacing: 5px;
}

.out {
    border-collapse: separate;
    border-spacing: 15px;
}

.out {
    width: 100%
}

.animate {
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.container-fluid {
    height: 100%;
}

#wrapper {
    padding: 90px 15px;
    height: 100%;
}

#out {
    width: 80%;
    margin-top: -10px;
    margin-left: 2%;
    padding-left: 7%;
    padding-right: 7%;
    background: white;
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #8B8878;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #696969;
        color: white;
    }

@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 90px 15px 15px 15px;
    }

    .navbar-nav.side-nav.open {
        left: 0;
    }

    .navbar-nav.side-nav {
        background: #585f66;
        box-shadow: 2px 1px 2px rgba(0,0,0,.1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        bottom: 0;
        padding-bottom: 40px
    }
}



@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 576px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(33.33333% - 30px);
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px);
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(20% - 30px);
    }
}
