﻿@model IEnumerable<Web_Application_for_Structure_Engineering.Models.BeamDetails>

@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table" border="1">
        <tr>
            <th>Beam No.</th>
            <th>Size</th>
            <th colspan="2">Left Top Bars</th>
            <th colspan="3">Bottom Bars</th>
            <th colspan="2">Right Top Bars</th>
            <th colspan="3">Stirrup</th>
            <th>Tor. Reinf.</th>
        </tr>

        @foreach (var item in ViewBag.beamDetails)
        {
            <tr></tr>
            <tr>
                <td>@item.BeamNo</td>
                <td>@item.Size</td>
                <td>@item.Layer1.LTB1</td>
                <td></td>
                <td>@item.Layer1.BB1</td>
                <td>@item.Layer1.BB2</td>
                <td>@item.Layer1.BB3</td>
                <td></td>
                <td>@item.Layer1.RTB2</td>
                <td>@item.Stirrup1</td>
                <td>@item.Stirrup2</td>
                <td>@item.Stirrup3</td>
                <td>@item.TorReinf</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@item.Layer2.LTB1</td>
                <td>@item.Layer2.LTB2</td>
                <td>@item.Layer2.BB1</td>
                <td>@item.Layer2.BB2</td>
                <td>@item.Layer2.BB3</td>
                <td>@item.Layer2.RTB1</td>
                <td>@item.Layer2.RTB2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@item.Layer3.LTB1</td>
                <td>@item.Layer3.LTB2</td>
                <td>@item.Layer3.BB1</td>
                <td>@item.Layer3.BB2</td>
                <td>@item.Layer3.BB3</td>
                <td>@item.Layer3.RTB1</td>
                <td>@item.Layer3.RTB2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@item.Layer4.LTB1</td>
                <td>@item.Layer4.LTB2</td>
                <td>@item.Layer4.BB1</td>
                <td>@item.Layer4.BB2</td>
                <td>@item.Layer4.BB3</td>
                <td>@item.Layer4.RTB1</td>
                <td>@item.Layer4.RTB2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@item.Layer5.LTB1</td>
                <td>@item.Layer5.LTB2</td>
                <td>@item.Layer5.BB1</td>
                <td>@item.Layer5.BB2</td>
                <td>@item.Layer5.BB3</td>
                <td>@item.Layer5.RTB1</td>
                <td>@item.Layer5.RTB2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

    </table>

    var beam = @ViewBag.beamDetails;

    <a href="@Url.Action("ExportBeamDetailsToExcel","Home")">Export To Excel</a>

}