﻿@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />
<h4 align="center">Frame Section Assignments</h4>
<table align="center" id="customers">
    <tr>
        <th>Frame</th>
        <th>SectionType</th>
        <th>AutoSelect</th>
        <th>AnalSect</th>
        <th>DesignSect</th>
        <th>MatProp</th>

    </tr>
    @if (ViewBag.FSA != null)
    {
        foreach (var fsa in ViewBag.FSA)
        {
            <tr>
                <td>@fsa.Frame</td>
                <td>@fsa.SectionType</td>
                <td>@fsa.AutoSelect</td>
                <td>@fsa.AnalSect</td>
                <td>@fsa.DesignSect</td>
                <td>@fsa.MatProp</td>
            </tr>
        }
    }

</table>