﻿@{
    ViewBag.Title = "Import accessFile";
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<div class="container mt-5">
    <h2><a href="@Url.Action("PFile","Home",new{ PID =  Session["PProject"]})"><i class="fas fa-arrow-left mr-2"></i></a>Import</h2>
    <hr />
    @using (Html.BeginForm("InsertaccessFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">

            <div class="form-group">

                <div class="control-label col-md-2">ACCESS:</div>
                <div class="col-md-10">
                    <input type="file" name="ImgFile1" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                </div>
            </div>


        </div>
    }
</div>