﻿@*@{
        if (Session["uid"] == null)
        {
            Response.Redirect("~/Home/Index");
        }
    }
    @using PagedList;
    @using PagedList.Mvc;
    @using Web_Application_for_Structure_Engineering.Models
    @model PagedList.IPagedList<Web_Application_for_Structure_Engineering.Models.Project>
    <style>


        body {
            padding: 120px;
        }

        h4 {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 14px;
            color: #aeaeae;
            text-transform: uppercase;
            margin: 0;
        }

        hr {
            margin-bottom: 16px;
            border: 1px solid #eaeaea;
        }

        .border-card {
            background: #fff;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            font-family: "Roboto";
            font-size: 14px;
            padding: 12px 16px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid #eaeaea;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.25s ease;
        }

            .border-card:hover {
                -webkit-transform: translateY(-1px);
                transform: translateY(-1px);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
            }

            .border-card.over {
                background: rgba(70, 222, 151, 0.15);
                padding-top: 24px;
                padding-bottom: 24px;
                border: 2px solid #47DE97;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
            }

                .border-card.over .card-type-icon {
                    color: #47DE97 !important;
                }

                .border-card.over p {
                    color: #47DE97 !important;
                }

        .content-wrapper {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            transition: all 0.25s ease;
        }

        .min-gap {
            flex: 0 0 40px;
        }

        .card-type-icon {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 16px;
            font-weight: 400;
            color: #323232;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            transition: all 0.25s ease;
        }

            .card-type-icon.with-border {
                color: #aeaeae;
                border: 1px solid #eaeaea;
            }

            .card-type-icon i {
                line-height: 40px;
            }

        .label-group {
            white-space: nowrap;
            overflow: hidden;
        }

            .label-group.fixed {
                flex-shrink: 0;
            }

            .label-group p {
                margin: 0px;
                line-height: 21px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                .label-group p.title {
                    color: #323232;
                    font-weight: 500;
                }

                    .label-group p.title.cta {
                        text-transform: uppercase;
                    }

                .label-group p.caption {
                    font-weight: 400;
                    color: #aeaeae;
                }

        .end-icon {
            margin-left: 16px;
        }
    </style>
    <script>window.console = window.console || function (t) { };</script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

    <div class="container">
        <h4><a href="@Url.Action("Index","Home")"><i class="fas fa-arrow-left mr-2"></i></a>My Project</h4>
        <hr>
        <div class="row">
            @{
                var i = 1;
            }
            @foreach (Project details in Model)
            {
                <div class="border-card col-6">
                    <div class="card-type-icon with-border">@i</div>
                    <div class="content-wrapper">
                        <a href="@Url.Action("PFile", new { PID = details.projectID })">
                            <div class="label-group fixed">
                                <p class="title">@details.projectName</p>
                            </div>
                        </a>
                    </div>
                    <a onclick="myFunction(pid = @details.projectID)">
                        <div class="btn-group float-right">
                            <i class="fa fa-trash fa-2x" style="color:red" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                i++;
            }

            <a href="@Url.Action("newPJ", "Home")" class="col-6">
                <div class="border-card d-flex justify-content-center">
                    <div class="label-group fixed">
                        <div class="card-type-icon with-border">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
        <script id="rendered-js">
            $('.droppable').bind('dragover', function (e) {
                $(this).addClass('over');

                if (e.originalEvent.preventDefault)
                    e.preventDefault();

                e.originalEvent.dataTransfer.dropEffect = 'copy';
                return false;
            });


            $('.droppable').bind('dragenter', function (e) {
                $(this).addClass('over');
            });

            $('.droppable').bind('dragleave', function (e) {
                $(this).removeClass('over');
            });


            $('.droppable').bind('drop', function (e) {
                $(this).removeClass('over');

                if (e.originalEvent.stopPropagation)
                    e.originalEvent.stopPropagation();

                var stuff = $(e.originalEvent.dataTransfer.getData('stuff'));
                stuff.appendTo(this);
                return false;
            });
            function myFunction(pid) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this project!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                // edit to add steve's suggestion.
                                url: "/Home/DeleteProject",
                                data: { P_ID: pid },
                                //url: '<%= Url.Action("getUserEmail", "Home") %>',
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    swal(result.data);
                                    swal("Poof! Your access file has been deleted!", {
                                        icon: "success",
                                    });
                                    location.href = "/Home/MyProject"
                                    $("#projectDetails").modal('hide');
                                }
                            });
                        } else {
                            swal("Your access file is safe!");
                        }
                    });
            }                                                       //# sourceURL=pen.js
        </script>
    </div>*@
@using PagedList;
@using PagedList.Mvc;
@using Web_Application_for_Structure_Engineering.Models
@model PagedList.IPagedList<Web_Application_for_Structure_Engineering.Models.Project>
@{
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    .border-card {
        background: #fff;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 12px 16px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease;
    }

        .border-card:hover {
            -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        }

        .border-card.over {
            background: rgba(70, 222, 151, 0.15);
            padding-top: 24px;
            padding-bottom: 24px;
            border: 2px solid #47DE97;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
        }

            .border-card.over .card-type-icon {
                color: #47DE97 !important;
            }

            .border-card.over p {
                color: #47DE97 !important;
            }

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.25s ease;
    }

    .min-gap {
        flex: 0 0 40px;
    }

    .card-type-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 400;
        color: #323232;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        transition: all 0.25s ease;
    }

        .card-type-icon.with-border {
            color: #aeaeae;
            border: 1px solid #eaeaea;
        }

        .card-type-icon i {
            line-height: 40px;
        }

    .label-group {
        white-space: nowrap;
        overflow: hidden;
    }

        .label-group.fixed {
            flex-shrink: 0;
        }

        .label-group p {
            margin: 0px;
            line-height: 21px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .label-group p.title {
                color: #323232;
                font-weight: 500;
            }

                .label-group p.title.cta {
                    text-transform: uppercase;
                }

            .label-group p.caption {
                font-weight: 400;
                color: #aeaeae;
            }

    .end-icon {
        margin-left: 16px;
    }
</style>
<script>window.console = window.console || function (t) { };</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
<ul class="breadcrumb bg-light">
    <li class="breadcrumb-item ml-2 ml-lg-3">
        <a href="@Url.Action("Index","Home")" data-abc="true">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item active">
        <a data-abc="true">My Project</a>
    </li>
</ul>
<div class="container">
    <h3 class="text-center">My Project</h3>
    <hr />
    <div class="row">
        @{
            var i = 1;
        }
        @foreach (Project details in Model)
        {
            <div class="border-card col-6">
                <div class="card-type-icon with-border">@i</div>
                <div class="content-wrapper">
                    <a href="@Url.Action("PFile", new { PID = details.projectID })">
                        <div class="label-group fixed">
                            <p class="title">@details.projectName</p>
                        </div>
                    </a>
                </div>
                <a onclick="myFunction(pid = @details.projectID)">
                    <div class="btn-group float-right">
                        <i class="fa fa-trash fa-2x" style="color:red" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            i++;
        }

        <a href="@Url.Action("newPJ", "Home")" class="col-6">
            <div class="border-card d-flex justify-content-center">
                <div class="label-group fixed">
                    <div class="card-type-icon with-border">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script id="rendered-js">
        $('.droppable').bind('dragover', function (e) {
            $(this).addClass('over');

            if (e.originalEvent.preventDefault)
                e.preventDefault();

            e.originalEvent.dataTransfer.dropEffect = 'copy';
            return false;
        });


        $('.droppable').bind('dragenter', function (e) {
            $(this).addClass('over');
        });

        $('.droppable').bind('dragleave', function (e) {
            $(this).removeClass('over');
        });


        $('.droppable').bind('drop', function (e) {
            $(this).removeClass('over');

            if (e.originalEvent.stopPropagation)
                e.originalEvent.stopPropagation();

            var stuff = $(e.originalEvent.dataTransfer.getData('stuff'));
            stuff.appendTo(this);
            return false;
        });
        function myFunction(pid) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this project!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            // edit to add steve's suggestion.
                            url: "/Home/DeleteProject",
                            data: { P_ID: pid },
                            //url: '<%= Url.Action("getUserEmail", "Home") %>',
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                swal(result.data);
                                swal("Poof! Your Project file has been deleted!", {
                                    icon: "success",
                                });
                                location.href = "/Home/MyProject"
                                $("#projectDetails").modal('hide');
                            }
                        });
                    } else {
                        swal("Your Project is safe!");
                    }
                });
        }
    </script>
</div>