﻿@{
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="~/Scripts/alert.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@using (Html.BeginForm("RCBeamDesign", "Home", FormMethod.Post))
{
    <ul class="breadcrumb mb-0 bg-light">
        <li class="breadcrumb-item ml-2 ml-lg-3">
            <a href="@Url.Action("Index", "Home")" data-abc="true">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("MyProject", "Home")" data-abc="true" style="text-decoration: none !important;">My Project</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("PFile", "Home", new { PID = Session["PProject"] })" data-abc="true" style="text-decoration: none !important;">Access File</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("subProject", new { AID = Session["aid"] })" data-abc="true" style="text-decoration: none !important;">subProject</a>
        </li>
        <li class="breadcrumb-item active">
            <a data-abc="true">RC Beam Design</a>
        </li>
    </ul>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <div class="navbar-collapse collapse pt-2 pt-md-0 pb-2">
            <div class="navbar-btn navbar-left ml-2 ml-lg-3" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page1">
                    RCBeam
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page3">
                    Element Forces - Frames
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page4">
                    Frame Section Assignments
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page5">
                    Connectivity - Frame
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page6">
                    Stress
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page7">
                    Strength
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page8">
                    CalSheet
                </button>
            </div>
            <div class="navbar-btn navbar-left" style="margin-left:10px;">
                <button class="btn btn-info btn-outline" data-launch-view="page9">
                    BeamDetail
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="dropdown mr-2 mr-lg-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Macro in excel
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                            @*<input name="submit" type="submit" id="submit" value="datafile" class="btn btn-primary btn-lg sharp"
                                   style="border-radius: 0; width:100%; font-size: 12px" onclick="return Confirmmessage()" />*@
                            <input class="dropdown-item mousepoint" name="submit" type="submit" id="submit" value="datafile" onclick="return Confirmmessage()"/>
                            <a class="dropdown-item mousepoint" data-launch-view="page2">ShowformDesign</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="stbody">
        <div class="sub">
            <div class="view" id="page1" style="width:100%;height:100%">
                <iframe src="@Url.Action("RCBeam", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page2" style="width:100%;height:100%">
                <iframe src="@Url.Action("ShowformDesign", "Home")" width="100%" height="100%"></iframe>
            </div>
            <div class="view hide" id="page3" style="width:100%;height:100%">
                <iframe src="@Url.Action("ElementForcesFrames", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page4" style="width:100%;height:100%">
                <iframe src="@Url.Action("FrameSectionAssignments", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page5" style="width:100%;height:100%">
                <iframe src="@Url.Action("ConnectivityFrame", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page6" style="width:100%;height:100%">
                <iframe src="@Url.Action("Stress", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page7" style="width:100%;height:100%">
                <iframe src="@Url.Action("Strength", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page8" style="width:100%;height:100%">
                <iframe src="@Url.Action("CalSheet", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
            <div class="view hide" id="page9" style="width:100%;height:100%">
                <iframe src="@Url.Action("BeamDetail", "Home")" width="100%" height="100%" class="pt-3"></iframe>
            </div>
        </div>
    </div>
}