﻿@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    <h4 align="center">RC_Beam</h4>
    <table align="center" id="customers">
        <tr>
            <th>Mem</th>
            <th>Mark</th>
            <th>B</th>
            <th>T</th>
            <th>L</th>
            <th>LT</th>
            <th>Name</th>
            <th>Ct</th>
            <th>Cb</th>
            <th>CLT</th>
            <th>CRT</th>
            <th>
                CL
            </th>
            <th>
                CR
            </th>
            <th>
                CLH
            </th>
            <th>
                CRH
            </th>
            <th>
                AXL
            </th>
            <th>
                FL
            </th>
            <th>
                FR
            </th>
            <th>
                TL
            </th>
            <th>
                TR
            </th>
            <th>
                N1
            </th>
            <th>
                D1
            </th>
            <th>
                N2
            </th>
            <th>
                D2
            </th>
            <th>
                L2L
            </th>
            <th>
                L2R
            </th>
            <th>
                N3
            </th>
            <th>
                D3
            </th>
            <th>
                L3L
            </th>
            <th>
                L3R
            </th>
            <th>
                N4
            </th>
            <th>
                D4
            </th>
            <th>
                L4L
            </th>
            <th>
                L4R
            </th>
            <th>
                N5
            </th>
            <th>
                D5
            </th>
            <th>
                L5L
            </th>
            <th>
                L5R
            </th>
            <th>
                LN1
            </th>
            <th>
                LD1
            </th>
            <th>
                LN2
            </th>
            <th>
                LD2
            </th>
            <th>
                LL2
            </th>
            <th>
                LN3
            </th>
            <th>
                LD3
            </th>
            <th>
                LL3
            </th>
            <th>
                LN4
            </th>
            <th>
                LD4
            </th>
            <th>
                LL4
            </th>
            <th>
                LN5
            </th>
            <th>
                LD5
            </th>
            <th>
                LL5
            </th>
            <th>
                RN2
            </th>
            <th>
                RD2
            </th>
            <th>
                RL2
            </th>
            <th>
                RN3
            </th>
            <th>
                RD3
            </th>
            <th>
                RL3
            </th>
            <th>
                RN4
            </th>
            <th>
                RD4
            </th>
            <th>
                RL4
            </th>
            <th>
                RN5
            </th>
            <th>
                RD5
            </th>
            <th>
                RL5
            </th>
            <th>
                N11
            </th>
            <th>
                D11
            </th>
            <th>
                RS2
            </th>
            <th>
                Cot2
            </th>
            <th>
                Cot3
            </th>
            <th>
                Cot4
            </th>
            <th>
                Cot5
            </th>
            <th>
                Cob2
            </th>
            <th>
                Cob3
            </th>
            <th>
                Cob4
            </th>
            <th>
                Cob5
            </th>
            <th>
                Ds
            </th>
            <th>
                Nso
            </th>
            <th>
                Nsi
            </th>
            <th>
                Nslo
            </th>
            <th>
                Nsli
            </th>
            <th>
                Nsro
            </th>
            <th>
                Nsri
            </th>
            <th>
                Stln
            </th>
            <th>
                Stls
            </th>
            <th>
                Sts
            </th>
            <th>
                Strn
            </th>
            <th>
                Strs
            </th>
            <th>
                MEMLIST
            </th>
            <th>
                BL
            </th>
            <th>
                BR
            </th>
            <th>
                SX0
            </th>
            <th>
                SX1
            </th>
            <th>
                StaX1
            </th>
            <th>
                SX2
            </th>
            <th>
                StaX2
            </th>
            <th>
                SXM
            </th>
            <th>
                SX8
            </th>
            <th>
                StaX8
            </th>
            <th>
                SX9
            </th>
            <th>
                StaX9
            </th>
            <th>
                SX10
            </th>
            <th>
                BX0
            </th>
            <th>
                BX1
            </th>
            <th>
                BX2
            </th>
            <th>
                BXM
            </th>
            <th>
                BX8
            </th>
            <th>
                BX9
            </th>
            <th>
                BX10
            </th>
            <th>
                AX0
            </th>
            <th>
                AX1
            </th>
            <th>
                AX2
            </th>
            <th>
                AXM
            </th>
            <th>
                AX8
            </th>
            <th>
                AX9
            </th>
            <th>
                AX10
            </th>
            <th>
                XV0
            </th>
            <th>
                XT0
            </th>
            <th>
                XVc0
            </th>
            <th>
                XV1
            </th>
            <th>
                XT1
            </th>
            <th>
                XVc1
            </th>
            <th>
                XV9
            </th>
            <th>
                XT9
            </th>
            <th>
                XVc9
            </th>
            <th>
                XV10
            </th>
            <th>
                XT10
            </th>
            <th>
                XVc10
            </th>
            <th>
                Case X0
            </th>
            <th>
                M3X0
            </th>
            <th>
                V2X0
            </th>
            <th>
                TX0
            </th>
            <th>
                PX0
            </th>
            <th>
                Case X1
            </th>
            <th>
                M3X1
            </th>
            <th>
                V2X1
            </th>
            <th>
                TX1
            </th>
            <th>
                PX1
            </th>
            <th>
                Case X2
            </th>
            <th>
                M3X2
            </th>
            <th>
                V2X2
            </th>
            <th>
                TX2
            </th>
            <th>
                PX2
            </th>
            <th>
                Case XM
            </th>
            <th>
                M3XM
            </th>
            <th>
                V2XM
            </th>
            <th>
                TXM
            </th>
            <th>
                PXM
            </th>
            <th>
                Case X8
            </th>
            <th>
                M3X8
            </th>
            <th>
                V2X8
            </th>
            <th>
                TX8
            </th>
            <th>
                PX8
            </th>
            <th>
                Case X9
            </th>
            <th>
                M3X9
            </th>
            <th>
                V2X9
            </th>
            <th>
                TX9
            </th>
            <th>
                PX9
            </th>
            <th>
                Case X10
            </th>
            <th>
                M3X10
            </th>
            <th>
                V2X10
            </th>
            <th>
                TX10
            </th>
            <th>
                PX10
            </th>
            <th>
                Case XV0
            </th>
            <th>
                M3XV0
            </th>
            <th>
                V2XV0
            </th>
            <th>
                TXV0
            </th>
            <th>
                PXV0
            </th>
            <th>
                Case XV1
            </th>
            <th>
                M3XV1
            </th>
            <th>
                V2XV1
            </th>
            <th>
                TXV1
            </th>
            <th>
                PXV1
            </th>
            <th>
                Case XV9
            </th>
            <th>
                M3XV9
            </th>
            <th>
                V2XV9
            </th>
            <th>
                TXV9
            </th>
            <th>
                PXV9
            </th>
            <th>
                Case XV10
            </th>
            <th>
                M3XV10
            </th>
            <th>
                V2XV10
            </th>
            <th>
                TXV10
            </th>
            <th>
                PXV10
            </th>
            <th>
                SXMax
            </th>
            <th>
                BXMax
            </th>
            <th>
                AXMax
            </th>
            <th>
                SMaxSta
            </th>
            <th>
                M3XMax
            </th>
            <th>
                V2XMax
            </th>
            <th>
                TXMax
            </th>
            <th>
                PXMax
            </th>
            <th>
                XVMax
            </th>
            <th>
                XTMax
            </th>
            <th>
                XVcMax
            </th>
            <th>
                VMaxSta
            </th>
            <th>
                M3XVMax
            </th>
            <th>
                V2XVMax
            </th>
            <th>
                TXVMax
            </th>
            <th>
                PXVMax
            </th>
            <th>
                As(Min)
            </th>
        </tr>
        @if (ViewBag.rc != null)
        {
            foreach (var details in ViewBag.rc)
            {
                if (ViewBag.st != null)
                {
                    foreach (var st in ViewBag.st)
                    {
                        <tr>
                            @if (@details.SX0 > float.Parse(st.utf.ToString()) || @details.SX1 > float.Parse(st.utf.ToString()) || details.SX2 > float.Parse(st.utf.ToString()) || details.SXM > float.Parse(st.utf.ToString()) || details.SX8 > float.Parse(st.utf.ToString()) || details.SX9 > float.Parse(st.utf.ToString()) || details.SX10 > float.Parse(st.utf.ToString()) || details.BX0 > float.Parse(st.utf.ToString()) || details.BX1 > float.Parse(st.utf.ToString()) || details.BX2 > float.Parse(st.utf.ToString()) || details.BXM > float.Parse(st.utf.ToString()) || details.BX8 > float.Parse(st.utf.ToString()) || details.BX9 > float.Parse(st.utf.ToString()) || details.BX10 > float.Parse(st.utf.ToString()) || details.AX0 > float.Parse(st.utf.ToString()) || details.AX1 > float.Parse(st.utf.ToString()) || details.AX2 > float.Parse(st.utf.ToString()) || details.AXM > float.Parse(st.utf.ToString()) || details.AX8 > float.Parse(st.utf.ToString()) || details.AX9 > float.Parse(st.utf.ToString()) || details.AX10 > float.Parse(st.utf.ToString()) || details.XV0 > float.Parse(st.utf.ToString()) || details.XT0 > float.Parse(st.utf.ToString()) || details.XV1 > float.Parse(st.utf.ToString()) || details.XT1 > float.Parse(st.utf.ToString()) || details.XV9 > float.Parse(st.utf.ToString()) || details.XT9 > float.Parse(st.utf.ToString()) || details.XV10 > float.Parse(st.utf.ToString()) || details.XT10 > float.Parse(st.utf.ToString()) || details.SXMax > float.Parse(st.utf.ToString()) || details.BXMax > float.Parse(st.utf.ToString()) || details.XVMax > float.Parse(st.utf.ToString()) || details.XTMax > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">@details.Mem</td>
                            }
                            else
                            {
                                <td>@details.Mem</td>
                            }
                            <td>@details.Mark</td>
                            <td>@details.B</td>
                            <td>@details.T</td>
                            <td>@details.L</td>
                            <td>@details.LT</td>
                            <td>@details.Name</td>
                            @if (@details.Ct == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Ct</td>}
                            @if (@details.Cb == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Cb</td>}
                            <td>@details.CLT</td>
                            <td>@details.CRT</td>
                            <td>@details.CL</td>
                            <td>@details.CR</td>
                            <td>@details.CLH</td>
                            <td>@details.CRH</td>
                            <td>@details.AXL</td>
                            <td>@details.FL</td>
                            <td>@details.FR</td>
                            @if (@details.TL == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.TL</td>}
                            @if (@details.TR == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.TR</td>}
                            @if (@details.N1 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N1</td>}
                            @if (@details.D1 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D1</td>}
                            @if (@details.N2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N2</td>}
                            @if (@details.D2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D2</td>}
                            @if (@details.L2L == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L2L</td>}
                            @if (@details.L2R == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L2R</td>}
                            @if (@details.N3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N3</td>}
                            @if (@details.D3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D3</td>}
                            @if (@details.L3L == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L3L</td>}
                            @if (@details.L3R == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L3R</td>}
                            @if (@details.N4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N4</td>}
                            @if (@details.D4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D4</td>}
                            @if (@details.L4L == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L4L</td>}
                            @if (@details.L4R == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L4R</td>}
                            @if (@details.N5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N5</td>}
                            @if (@details.D5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D5</td>}
                            @if (@details.L5L == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L5L</td>}
                            @if (@details.L5R == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.L5R</td>}
                            @if (@details.LN1 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LN1</td>}
                            @if (@details.LD1 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LD1</td>}
                            @if (@details.LN2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LN2</td>}
                            @if (@details.LD2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LD2</td>}
                            @if (@details.LL2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LL2</td>}
                            @if (@details.LN3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LN3</td>}
                            @if (@details.LD3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LD3</td>}
                            @if (@details.LL3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LL3</td>}
                            @if (@details.LN4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LN4</td>}
                            @if (@details.LD4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LD4</td>}
                            @if (@details.LL4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LL4</td>}
                            @if (@details.LN5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LN5</td>}
                            @if (@details.LD5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LD5</td>}
                            @if (@details.LL5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.LL5</td>}
                            @if (@details.RN2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RN2</td>}
                            @if (@details.RD2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RD2</td>}
                            @if (@details.RL2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RL2</td>}
                            @if (@details.RN3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RN3</td>}
                            @if (@details.RD3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RD3</td>}
                            @if (@details.RL3 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RL3</td>}
                            @if (@details.RN4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RN4</td>}
                            @if (@details.RD4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RD4</td>}
                            @if (@details.RL4 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RL4</td>}
                            @if (@details.RN5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RN5</td>}
                            @if (@details.RD5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RD5</td>}
                            @if (@details.RL5 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RL5</td>}
                            @if (@details.N11 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.N11</td>}
                            @if (@details.D11 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.D11</td>}
                            @if (@details.RS2 == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.RS2</td>}
                            <td>@details.Cot2</td>
                            <td>@details.Cot3</td>
                            <td>@details.Cot4</td>
                            <td>@details.Cot5</td>
                            <td>@details.Cob2</td>
                            <td>@details.Cob3</td>
                            <td>@details.Cob4</td>
                            <td>@details.Cob5</td>
                            @if (@details.Ds == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Ds</td>}
                            @if (@details.Nso == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nso</td>}
                            @if (@details.Nsi == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nsi</td>}
                            @if (@details.Nslo == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nslo</td>}
                            @if (@details.Nsli == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nsli</td>}
                            @if (@details.Nsro == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nsro</td>}
                            @if (@details.Nsri == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Nsri</td>}
                            @if (@details.Stln == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Stln</td>}
                            @if (@details.Stls == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Stls</td>}
                            @if (@details.Sts == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Sts</td>}
                            @if (@details.Strn == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Strn</td>}
                            @if (@details.Strs == 0)
                            {
                                <td></td>}
                            else
                            {
                                <td>@details.Strs</td>}
                            <td>@details.MEMLIST</td>
                            <td>
                                @details.BL
                            </td>
                            <td>
                                @details.BR
                            </td>
                            @if (details.SX0 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX0
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX0
                                </td>
                            }
                            @if (details.SX1 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX1
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX1
                                </td>
                            }
                            <td>
                                @details.StaX1
                            </td>
                            @if (details.SX2 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX2
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX2
                                </td>
                            }
                            <td>
                                @details.StaX2
                            </td>
                            @if (details.SXM > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SXM
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SXM
                                </td>
                            }
                            @if (details.SX8 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX8
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX8
                                </td>
                            }
                            <td>
                                @details.StaX8
                            </td>
                            @if (details.SX9 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX9
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX9
                                </td>
                            }
                            <td>
                                @details.StaX9
                            </td>
                            @if (details.SX10 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SX10
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SX10
                                </td>
                            }
                            @if (details.BX0 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX0
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX0
                                </td>
                            }
                            @if (details.BX1 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX1
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX1
                                </td>
                            }
                            @if (details.BX2 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX2
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX2
                                </td>
                            }
                            @if (details.BXM > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BXM
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BXM
                                </td>
                            }
                            @if (details.BX8 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX8
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX8
                                </td>
                            }
                            @if (details.BX9 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX9
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX9
                                </td>
                            }
                            @if (details.BX10 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BX10
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BX10
                                </td>
                            }
                            @if (details.AX0 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX0
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX0
                                </td>
                            }
                            @if (details.AX1 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX1
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX1
                                </td>
                            }
                            @if (details.AX2 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX2
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX2
                                </td>
                            }
                            @if (details.AXM > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AXM
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AXM
                                </td>
                            }
                            @if (details.AX8 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX8
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX8
                                </td>
                            }
                            @if (details.AX9 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX9
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX9
                                </td>
                            }
                            @if (details.AX10 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.AX10
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.AX10
                                </td>
                            }
                            @if (details.XV0 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XV0
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XV0
                                </td>
                            }
                            @if (details.XT0 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XT0
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XT0
                                </td>
                            }
                            <td>
                                @details.XVc0
                            </td>
                            @if (details.XV1 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XV1
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XV1
                                </td>
                            }
                            @if (details.XT1 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XT1
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XT1
                                </td>
                            }
                            <td>
                                @details.XVc1
                            </td>
                            @if (details.XV9 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XV9
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XV9
                                </td>
                            }
                            @if (details.XT9 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XT9
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XT9
                                </td>
                            }
                            <td>
                                @details.XVc9
                            </td>
                            @if (details.XV10 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XV10
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XV10
                                </td>
                            }
                            @if (details.XT10 > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XT10
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XT10
                                </td>
                            }
                            <td>
                                @details.XVc10
                            </td>
                            <td>
                                @details.CaseX0
                            </td>
                            <td>
                                @details.M3X0
                            </td>
                            <td>
                                @details.V2X0
                            </td>
                            <td>
                                @details.TX0
                            </td>
                            <td>
                                @details.PX0
                            </td>
                            <td>
                                @details.CaseX1
                            </td>
                            <td>
                                @details.M3X1
                            </td>
                            <td>
                                @details.V2X1
                            </td>
                            <td>
                                @details.TX1
                            </td>
                            <td>
                                @details.PX1
                            </td>
                            <td>
                                @details.CaseX2
                            </td>
                            <td>
                                @details.M3X2
                            </td>
                            <td>
                                @details.V2X2
                            </td>
                            <td>
                                @details.TX2
                            </td>
                            <td>
                                @details.PX2
                            </td>
                            <td>
                                @details.CaseXM
                            </td>
                            <td>
                                @details.M3XM
                            </td>
                            <td>
                                @details.V2XM
                            </td>
                            <td>
                                @details.TXM
                            </td>
                            <td>
                                @details.PXM
                            </td>
                            <td>
                                @details.CaseX8
                            </td>
                            <td>
                                @details.M3X8
                            </td>
                            <td>
                                @details.V2X8
                            </td>
                            <td>
                                @details.TX8
                            </td>
                            <td>
                                @details.PX8
                            </td>
                            <td>
                                @details.CaseX9
                            </td>
                            <td>
                                @details.M3X9
                            </td>
                            <td>
                                @details.V2X9
                            </td>
                            <td>
                                @details.TX9
                            </td>
                            <td>
                                @details.PX9
                            </td>
                            <td>
                                @details.CaseX10
                            </td>
                            <td>
                                @details.M3X10
                            </td>
                            <td>
                                @details.V2X10
                            </td>
                            <td>
                                @details.TX10
                            </td>
                            <td>
                                @details.PX10
                            </td>
                            <td>
                                @details.CaseXV0
                            </td>
                            <td>
                                @details.M3XV0
                            </td>
                            <td>
                                @details.V2XV0
                            </td>
                            <td>
                                @details.TXV0
                            </td>
                            <td>
                                @details.PXV0
                            </td>
                            <td>
                                @details.CaseXV1
                            </td>
                            <td>
                                @details.M3XV1
                            </td>
                            <td>
                                @details.V2XV1
                            </td>
                            <td>
                                @details.TXV1
                            </td>
                            <td>
                                @details.PXV1
                            </td>
                            <td>
                                @details.CaseXV9
                            </td>
                            <td>
                                @details.M3XV9
                            </td>
                            <td>
                                @details.V2XV9
                            </td>
                            <td>
                                @details.TXV9
                            </td>
                            <td>
                                @details.PXV9
                            </td>
                            <td>
                                @details.CaseXV10
                            </td>
                            <td>
                                @details.M3XV10
                            </td>
                            <td>
                                @details.V2XV10
                            </td>
                            <td>
                                @details.TXV10
                            </td>
                            <td>
                                @details.PXV10
                            </td>
                            @if (details.SXMax > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.SXMax
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.SXMax
                                </td>
                            }
                            @if (details.BXMax > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.BXMax
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.BXMax
                                </td>
                            }
                            <td>
                                @details.AXMax
                            </td>
                            <td>
                                @details.SMaxSta
                            </td>
                            <td>
                                @details.M3XMax
                            </td>
                            <td>
                                @details.V2XMax
                            </td>
                            <td>
                                @details.TXMax
                            </td>
                            <td>
                                @details.PXMax
                            </td>
                            @if (details.XVMax > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XVMax
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XVMax
                                </td>
                            }
                            @if (details.XTMax > float.Parse(st.utf.ToString()))
                            {
                                <td bgcolor="red">
                                    @details.XTMax
                                </td>
                            }
                            else
                            {
                                <td>
                                    @details.XTMax
                                </td>
                            }
                            <td>
                                @details.XVcMax
                            </td>
                            <td>
                                @details.VMaxSta
                            </td>
                            <td>
                                @details.M3XVMax
                            </td>
                            <td>
                                @details.V2XVMax
                            </td>
                            <td>
                                @details.TXVMax
                            </td>
                            <td>
                                @details.PXVMax
                            </td>
                            <td>
                                @details.AsMin
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
}
