﻿
@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seAid</title>
</head>
<body>
    <div>
        @foreach (var n in ViewBag.acclist)
        {
            <h1>@n.accessFileID</h1>
        }
    </div>
</body>
</html>
