﻿@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />

<h4 align="center">Stress</h4>
<table align="center" id="customers">
    <tr>
        <th>MEM</th>
        <th>Station</th>
        <th>Secc</th>
        <th>Case</th>
        <th>M3</th>
        <th>V2</th>
        <th>T</th>
        <th>P</th>
        <th>N1c</th>
        <th>D1c</th>
        <th>Ld1c</th>
        <th>N2c</th>
        <th>D2c</th>
        <th>Ld2c</th>
        <th>N3c</th>
        <th>D3c</th>
        <th>Ld3c</th>
        <th>N4c</th>
        <th>D4c</th>
        <th>Ld4c</th>
        <th>N5c</th>
        <th>D5c</th>
        <th>Ld5c</th>
        <th>N1t</th>
        <th>D1t</th>
        <th>Ld1t</th>
        <th>N2t</th>
        <th>D2t</th>
        <th>Ld2t</th>
        <th>N3t</th>
        <th>D3t</th>
        <th>Ld3t</th>
        <th>N4t</th>
        <th>D4t</th>
        <th>Ld4t</th>
        <th>N5t</th>
        <th>D5t</th>
        <th>Ld5t</th>
        <th>N11</th>
        <th>D11</th>
        <th>Ld11</th>
        <th>Ds</th>
        <th>Nsout</th>
        <th>Nsin</th>
        <th>S</th>
        <th>Asmin</th>
        <th>Strength</th>
        <th>Bending</th>
        <th>Axial</th>
        <th>Torsion</th>
        <th>Shear</th>
        <th>Vconc</th>
        <th>Mm</th>
        <th>BL</th>
        <th>BR</th>
        <th>Al</th>
        <th>Avs</th>
        <th>Ats</th>
        <th>AvtSoutprovide</th>
        <th>AvSinprovide</th>
        <th>AvSallprovide</th>
        <th>d</th>
        <th>FINALEACHEDGEBOT1</th>
        <th>FINALEACHEDGEBOT2</th>
        <th>FINALEACHEDGEBOT3</th>
        <th>FINALEACHEDGEBOT4</th>
        <th>FINALEACHEDGEBOT5</th>
        <th>FINALEACHEDGETOP1</th>
        <th>FINALEACHEDGETOP2</th>
        <th>FINALEACHEDGETOP3</th>
        <th>FINALEACHEDGETOP4</th>
        <th>FINALEACHEDGETOP5</th>
    </tr>
    @if (ViewBag.Stress != null)
    {
        foreach (var st in ViewBag.Stress)
        {
<tr>
    <td>@st.MEM</td>
    <td>@st.Station</td>
    <td>@st.Secc</td>
    <td>@st.Case</td>
    <td>@st.M3</td>
    <td>@st.V2</td>
    <td>@st.T</td>
    <td>@st.P</td>
    <td>@st.N1c</td>
    <td>@st.D1c</td>
    <td>@st.Ld1c</td>
    <td>@st.N2c</td>
    <td>@st.D2c</td>
    <td>@st.Ld2c</td>
    <td>@st.N3c</td>
    <td>@st.D3c</td>
    <td>@st.Ld3c</td>
    <td>@st.N4c</td>
    <td>@st.D4c</td>
    <td>@st.Ld4c</td>
    <td>@st.N5c</td>
    <td>@st.D5c</td>
    <td>@st.Ld5c</td>
    <td>@st.N1t</td>
    <td>@st.D1t</td>
    <td>@st.Ld1t</td>
    <td>@st.N2t</td>
    <td>@st.D2t</td>
    <td>@st.Ld2t</td>
    <td>@st.N3t</td>
    <td>@st.D3t</td>
    <td>@st.Ld3t</td>
    <td>@st.N4t</td>
    <td>@st.D4t</td>
    <td>@st.Ld4t</td>
    <td>@st.N5t</td>
    <td>@st.D5t</td>
    <td>@st.Ld5t</td>
    <td>@st.N11</td>
    <td>@st.D11</td>
    <td>@st.Ld11</td>
    <td>@st.Ds</td>
    <td>@st.Nsout</td>
    <td>@st.Nsin</td>
    <td>@st.S</td>
    <td>@st.Asmin</td>
    <td>@st.Strength</td>
    <td>@st.Bending</td>
    <td>@st.Axial</td>
    <td>@st.Torsion</td>
    <td>@st.Shear</td>
    <td>@st.Vconc</td>
    <td>@st.Mm</td>
    <td>@st.BL</td>
    <td>@st.BR</td>
    <td>@st.Al</td>
    <td>@st.Avs</td>
    <td>@st.Ats</td>
    <td>@st.AvtSoutprovide</td>
    <td>@st.AvSinprovide</td>
    <td>@st.AvSallprovide</td>
    <td>@st.d</td>
    <td>@st.FINALEACHEDGEBOT1</td>
    <td>@st.FINALEACHEDGEBOT2</td>
    <td>@st.FINALEACHEDGEBOT3</td>
    <td>@st.FINALEACHEDGEBOT4</td>
    <td>@st.FINALEACHEDGEBOT5</td>
    <td>@st.FINALEACHEDGETOP1</td>
    <td>@st.FINALEACHEDGETOP2</td>
    <td>@st.FINALEACHEDGETOP3</td>
    <td>@st.FINALEACHEDGETOP4</td>
    <td>@st.FINALEACHEDGETOP5</td>
</tr>
        }
    }

</table>
