﻿@model Web_Application_for_Structure_Engineering.Models.Strength
@{
    Layout = null;
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="@Url.Content("http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/menubar.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Strength.js"></script>
<h4 align="center">Strength</h4>
<fieldset id="infoForm">
    @using (Html.BeginForm())
    {
        if (ViewBag.st != null)
        {
            foreach (var st in ViewBag.st)
            {
                <table align="center">
                    <tr>
                        <td>Cylindrical Compressive Strength of Concrete</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.fcp, new
                       {
                           htmlAttributes = new
                           {
                               @id = "fcp",
                               @name = "fcp",
                               @Value = st.fcp
                           }
                       })
                            @Html.ValidationMessageFor(model => model.fcp)
                        </td>
                        <td>ksc</td>
                    </tr>
                    <tr>
                        <td>Yield Strength of Longitudinal Reinforcement</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.fy, new
                       {
                           htmlAttributes = new
                           {
                               @id = "fy",
                               @name = "fy",
                               @Value = st.fy
                           }
                       })
                            @Html.ValidationMessageFor(model => model.fy)
                        </td>
                        <td>ksc</td>
                    </tr>
                    <tr>
                        <td>Yield Strength of Stirrup Reinforcement(Round)</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.fvyr, new
                       {
                           htmlAttributes = new
                           {
                               @id = "fvyr",
                               @name = "fvyr",
                               @Value = st.fvyr
                           }
                       })
                            @Html.ValidationMessageFor(model => model.fvyr)
                        </td>
                        <td>ksc</td>
                    </tr>
                    <tr>
                        <td>Yield Strength of Stirrup Reinforcement(deformed)</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.fvyd, new
                       {
                           htmlAttributes = new
                           {
                               @id = "fvyd",
                               @name = "fvyd",
                               @Value = st.fvyd
                           }
                       })
                            @Html.ValidationMessageFor(model => model.fvyd)
                        </td>
                        <td>ksc</td>
                    </tr>
                    <tr>
                        <td>Modulus of Elasticity for Reinforcement</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.es, new
                       {
                           htmlAttributes = new
                           {
                               @id = "es",
                               @name = "es",
                               @Value = st.es
                           }
                       })
                            @Html.ValidationMessageFor(model => model.es)
                        </td>
                        <td>ksc</td>
                    </tr>
                    <tr>
                        <td>Modulus of Elasticity for Concrete</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.ec, new
                       {
                           htmlAttributes = new
                           {
                               @id = "ec",
                               @name = "ec",
                               @readonly = "readonly",
                               @Value = (st.ec).ToString("0.000")
                           }
                       })
                            @Html.ValidationMessageFor(model => model.ec)
                        </td>
                        <td>ksc</td>
                        <td>(Data will shown when you click Save button.)</td>
                    </tr>
                    <tr>
                        <td>Utilization Factor Limit</td>
                        <td>=</td>
                        <td>
                            @Html.EditorFor(model => model.utf, new
                       {
                           htmlAttributes = new
                           {
                               @id = "utf",
                               @name = "utf",
                               @Value = (st.utf).ToString("0.00")
                           }
                       })
                            @Html.ValidationMessageFor(model => model.utf)
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="button" value="Save" class="btn btn-dark" onclick="checkStrength()" />
                        </td>
                    </tr>
                </table>
            }
        }
        else
        {
            <table align="center">
                <tr>
                    <td>Cylindrical Compressive Strength of Concrete</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.fcp, new
                   {
                       htmlAttributes = new
                       {
                           @id = "fcp",
                           @name = "fcp"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.fcp)
                    </td>
                    <td>ksc</td>
                </tr>
                <tr>
                    <td>Yield Strength of Longitudinal Reinforcement</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.fy, new
                   {
                       htmlAttributes = new
                       {
                           @id = "fy",
                           @name = "fy"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.fy)
                    </td>
                    <td>ksc</td>
                </tr>
                <tr>
                    <td>Yield Strength of Stirrup Reinforcement(Round)</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.fvyr, new
                   {
                       htmlAttributes = new
                       {
                           @id = "fvyr",
                           @name = "fvyr"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.fvyr)
                    </td>
                    <td>ksc</td>
                </tr>
                <tr>
                    <td>Yield Strength of Stirrup Reinforcement(deformed)</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.fvyd, new
                   {
                       htmlAttributes = new
                       {
                           @id = "fvyd",
                           @name = "fvyd"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.fvyd)
                    </td>
                    <td>ksc</td>
                </tr>
                <tr>
                    <td>Modulus of Elasticity for Reinforcement</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.es, new
                   {
                       htmlAttributes = new
                       {
                           @id = "es",
                           @name = "es"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.es)
                    </td>
                    <td>ksc</td>
                </tr>
                <tr>
                    <td>Modulus of Elasticity for Concrete</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.ec, new
                   {
                       htmlAttributes = new
                       {
                           @id = "ec",
                           @name = "ec",
                           @readonly = "readonly"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.ec)
                    </td>
                    <td>ksc</td>
                    <td>(Data will shown when you click Save button.)</td>
                </tr>
                <tr>
                    <td>Utilization Factor Limit</td>
                    <td>=</td>
                    <td>
                        @Html.EditorFor(model => model.utf, new
                   {
                       htmlAttributes = new
                       {
                           @id = "utf",
                           @name = "utf"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.utf)
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="button" value="Save" class="btn btn-dark" onclick="checkStrength()" />
                    </td>
                </tr>
            </table>
        }
    }
</fieldset>