﻿@{
    if (Session["uid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<ul class="breadcrumb bg-light">
    <li class="breadcrumb-item ml-2 ml-lg-3">
        <a href="@Url.Action("Index","Home")" data-abc="true">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("MyProject","Home")" data-abc="true" style="text-decoration: none !important;">My Project</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("PFile","Home",new{ PID =  Session["PProject"]})" data-abc="true" style="text-decoration: none !important;">Access File</a>
    </li>
    <li class="breadcrumb-item active">
        <a data-abc="true">subProject</a>
    </li>
</ul>
<div class="container">
    <h3 class="text-center">subProject</h3>
    <hr />
    <div>
        <a href="@Url.Action("RCBeamDesign", "Home")" class="btn btn-secondary btn-lg btn-block" role="button" aria-disabled="true">RC Beam Design</a>
    </div>

</div>